*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

section div.bg-green-200{
    border-left:5px solid #065F46;
}

button{
    transition: 0.7s;
}

.lista-produtos{
    animation: aparecer;
    animation-duration: 1s;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}